  .xo-widget {
    display: inline-flex;
    gap: 16px;
    margin: 20px 0;
  }

  .xo-widget button {
    min-width: 150px;
    padding: 14px 22px;
    border-radius: 50px;
    border: none;
    font-size: 40px;
    font-weight: 800;
    cursor: pointer;
    color: white;
    transition: all 0.15s ease-in-out;
  }

.btnX {
    background: #0077ff;
  }

.btnO {
    background: #ff6b00;
  }

  .xo-widget button:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  }

  .xo-widget button:active {
    transform: translateY(0);
    box-shadow: none;
  }