    .xo-widget {
    display: inline-flex;
    gap: 16px;
    margin: 20px 0;

  }

  .xo-widget button {
    min-width: 150px;
    padding: 14px 22px;
    border-radius: 50px;
    border: none;
    font-size: 40px;
    font-weight: 800;
    cursor: pointer;
    color: white;
    transition: all 0.15s ease-in-out;
  }

  /* Pirmas mygtukas – mėlynas */
.btnX {
    background: #0077ff;
  }

  /* Antras mygtukas – oranžinis */
.btnO {
    background: #ff6b00;
  }

  .xo-widget button:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  }

  .xo-widget button:active {
    transform: translateY(0);
    box-shadow: none;
  }

  /* ============ */


.color-box-widget {

  display: inline-block; /* kad neužimtų viso pločio */
}

/* Valdikliai */
.cbw-controls {
  display: flex;
  gap: 100px;
  margin-bottom: 12px;
}

.cbw-controls label {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.cbw-controls input[type="color"] {
  width: 100px;
  height: 45px;
  padding: 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Kvadratas */
.cbw-square {
  width: 300px;
  height: 180px;
  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0003;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;

  margin: 10px 0;
}