#mygtukas {
    padding: 25px 35px;
    font-size: 60px;
    border: none;
    border-radius: 15px;
    background: #026265;
   /* background: linear-gradient(145deg, #026265, #06c0ca);*/
    color: rgb(162, 234, 242);
    cursor: pointer;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
}


#mygtukas:active {
    transform: translateY(6px) translateX(2px) rotateX(2deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.input1 {
  width: 200px;     
  height: 40px;     
  font-size: 20px;  
  margin: 10px;     
  padding: 5px;     
  box-sizing: border-box;
  border-radius: 10px;
}
.input2 {
  width: 200px;     
  height: 40px;     
  font-size: 20px;  
  margin: 10px;     
  padding: 5px;     
  box-sizing: border-box;
  border-radius: 10px;
}

.input1 {
  display: flex;
  flex-direction: column; /* kad tekstas butu po input */
  align-items: center;    /* centruoja viska horizontaliai */
}
.input2 {
  display: flex;
  flex-direction: column; 
  align-items: center;    
}

#rezultatas {
  margin-top: 6px;
  color: #1a1919;
  font-size: 20px;
}
