#j-uzd-input{
    width: 300px;
    height: 60px;
    margin-bottom: 10px;
}

#j-uzd-div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    font-family: Tahoma, sans-serif;
    font-size: 50px;
}