body {
    /* background-color: #444; */
    /* gap: 20px; */
    height: 100vh;
}

section.tasks-section {
    /* background-color: lightsalmon; */
    margin: auto;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    width: 600px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #dc143c70;
}

hr.line-hr {
    border-top: 1px solid black;
}

button.arnas-b-button {
    /* margin: 10px 25px 10px 50px; */
    padding: 5px 5px;
    width: 200px;
    height: 70px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(102, 126, 234, 0.4);
    transition: all 0.3s ease;
    text-transform: capitalize;
    letter-spacing: 2px;
}

div.arnas-f-main-div {
    /* background-color: lightsalmon; */
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center;
}

label.arnas-f-label {
    margin-right: 25px;
    font-size: 20px;
    font-weight: bold;
}

input.arnas-f-input {
    width: 300px;
    margin-right: 30px;
}

div.arnas-f-div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 70px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #797575b8;
    color: black;
}